# Rename this file to .env and set your own key
# AI_PROVIDER can be 'anthropic', 'huggingface', or 'gemini'
AI_PROVIDER=gemini

# Gemini key
GEMINI_API_KEY=AIzaSy... # substitua pela sua chave Google API
GEMINI_MODEL=gemini-1.5-pro

# or Hugging Face key
# HUGGINGFACE_API_KEY=hf_sua_chave_aqui
# HUGGINGFACE_MODEL=google/flan-t5-large

# or Anthropic key
# ANTHROPIC_API_KEY=sk-ant-SUA_CHAVE_AQUI

PORT=3000
